* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template: repeat(20, 5.4vh) / repeat(5, 1fr);
  gap: 5px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-area: 1/1/3/-1;
  display: grid;
  grid-template: 100%/ repeat(6, 1fr);
    justify-content: center;
  align-items: center;
}

.menu {
  grid-area: 1/3/2/-1;
}
 .nav {

  align-items: start;
 }

.nav ul,
.menu ul {
  font-size: 16px;
  list-style-type: none;
  display: grid;
  justify-content: baseline;
  align-content: center;

  

}

.menu ul {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sidebar {
  background-color: #C50208;
  grid-area: 3/1/-2/2;
  display: grid;
  grid-template-rows: 25%;
  gap: 40px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  display: grid;
  justify-content: center;
  align-items: center;
}

.nav {
  background-color: #C50208;
  grid-area: 3/2/4/-1;
  
}

.nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav ul li {
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  grid-area: 4/2/-2/-1;
  display: grid;
  grid-template: repeat(3, 33%)/ repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: -2/1/-1/-1;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}


